nav {
	background-color: var(--Purple-Haze);
	position: fixed;
	top: 0;
	height: 8vh;
}
nav h1 {
	color: var(--Periwinkle);
}
nav .records {
	transition: all 0.2s;
	color: var(--red);
}
nav .records:hover {
	color: var(--Periwinkle);
}
