:root {
	--Lavender: #a58cb3;
	--Periwinkle: #838bc2;
	--Purple-Haze: #eae7fa;
	--Rosewater: #d9a1a0;
	--red: #f92f60;
}
.main {
	height: calc(100vh - 96px - 57.6px);
	background-color: var(--Rosewater);
}
